---
import "../styles/globals.css";

import { Header } from "../components/header";
import { Nav } from "../components/nav";

import { Education } from "../components/education";
import { Experience } from "../components/experience";
import { SocialMediaList } from "../components/social-media";
import { education } from "../data/education";
import { experiences } from "../data/experiences";
import { socialMediasLinks } from "../data/social-media";
import { About } from "../components/about";

const sections = [
  { selector: "#about", title: "About" },
  { selector: "#education", title: "Education" },
  { selector: "#experiences", title: "Professional experience" },
];
---

<html lang="en">
  <head>
    <title>Joao Pedro Duarte</title>
    <meta
      name="description"
      content="A front-end engineer with a passion for building products that truly impact people's life."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class={`min-h-screen bg-gradient-to-l from-zinc-950 to-zinc-900`}>
    <div
      class="mx-auto min-h-screen max-w-screen-xl px-6 font-sans md:px-12 lg:px-24 md:grid md:grid-cols-[30rem_1fr] flex flex-col md:gap-20"
    >
      <Header.Root>
        <div class="flex flex-col gap-4">
          <Header.Title>Joao Pedro Duarte</Header.Title>
          <Header.Subtitle>Sr Software Engineer at iFood</Header.Subtitle>
          <Header.Paragraph>
            A front-end engineer with a passion for building products that truly
            impact people&apos;s life.
          </Header.Paragraph>
        </div>

        <Nav sections={sections} client:load />

        <SocialMediaList socialMediaLinks={socialMediasLinks} />
      </Header.Root>

      <main class="flex flex-col gap-32 pb-12 md:py-24">
        <section id="about" class="flex flex-col gap-4">
          <About />
        </section>

        <section id="education">
          <ol class="flex flex-col gap-12">
            {
              education.map((education) => (
                <li key={education.title}>
                  <Education education={education} />
                </li>
              ))
            }
          </ol>
        </section>

        <section id="experiences">
          <ol class="flex flex-col gap-12">
            {
              experiences.map((experience) => (
                <li key={experience.title}>
                  <Experience experience={experience} />
                </li>
              ))
            }
          </ol>
        </section>
      </main>
    </div>
  </body>
</html>
